body{
    background-image: url("https://images.unsplash.com/photo-1543351611-58f69d7c1781?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
    background-position: center;
    background-size: cover;
    
}
/* ***** About me with Carousel *****  */
.container-1 {
    display: flex;
    padding: 0 20px;
    margin-top: 75px;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
}

.box-1{
    flex: 1;
    margin-left: 10px;
}
.box-2 {
    font-family: 'Francois One', sans-serif;
    text-align: center;
    flex: 1;
    color: black;
    padding-right: 10px;
}

h2, p {
        background-color: rgba(245, 245, 245, 0.788);
        white-space: inherit;

}


/* ***** Main Navbar ***** */

#main-nav {
    background-color: rgba(245,245,245 ,.50);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    opacity: .75;

}


/* ***** Carousel ***** */
.carousel {

border: 2px solid rgba(3, 241, 102, .33);
}

.carousel-inner {
opacity: .90;
}
